.App{
    height: 100vh;
}
.header{
    height: 15%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header h1{
    font-size: 2.5rem;
}

.sub-head{
    height: 10%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

