.App{
    height: 100vh;
}
.header{
    height: 15%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header h1{
    font-size: 2.5rem;
}

.sub-head{
    height: 10%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.items-wrapper{
    height: 65%;
    background-color: rgba(63, 34, 21, 0.787);
    /* display: flex; */
    padding-top: 2rem;
}
.footer{
    height: 10%;
    background-color: gray;
}

.items{
    width: 80%;
    display: flex;
    gap: 1rem;
    margin: 0 auto;
}
.item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
